header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    background: linear-gradient(90deg, rgb(0, 0, 0),rgb(160, 15, 15));
    
}

img {
    width: 250px;
    height: 250px;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    
}

footer {
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    text-align: center;
  }

  span {
    color: rgb(192, 10, 10);
  }

.layout-container {
    display: flex;                      
    flex-direction: column;
    justify-content: space-between;
    
}

.elogo {
    width: 350px;
    height: auto;
     
}



.products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    
  }

.product {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 1);
    width: 1050px;
    
  }

 .count-products span{
    color: white;
 }