header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    background: linear-gradient(90deg, rgb(221, 233, 53),rgb(241, 160, 9));
    
}

img {
    width: 250px;
    height: 250px;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    
}

.layout-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.elogo {
    width: 350px;
    height: auto;
     
}

